@import url(../../styles/_variables.css);

.input {
    width: 100%;
    background-color: var(--white);
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid transparent;
    border-radius: 5px;
    color: var(--dark-green);
}

.input:focus {
    border: 2px solid var(--green);
    outline: none;
}

.input:hover {
    background-color: #b1b1b1;
}